extends layout

block content
  .container
    h2 Home #{env}
    form(action="/trivia", method="post")
      p
        label What's your name?
        input(type='text',placeholder='Your Name', name='name')
      p
        input.btn(type='submit', value='Play!')